<style type="text/css">
    @import url("/resources/css/userProfile.css");
</style>
<div class="wapper-content" style="margin-top: 5rem;">
    <div class="container">
        <div class="wapper wap-account">
            <div class="wapcontent">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/"> <span itemprop="name">Trang
                                        chủ</span></a> <span>></span>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="name"> Quản lý mật khẩu</span>
                                <meta itemprop="position" content="2" />
                            </li>
                        </ul>
                    </div>
                </div>
                <form action="/provider/password" class="form-group" method="post">
                    <div class="row">
                        <%- include('./providerMenu.ejs')  %>
                            <div class="col-md-8">
                                <h1>Quản lý mật khẩu</h1>
                                <input data-val="true" id="Id" name="user_id" type="hidden" value="<%= user._id %>" />
                                <div class="input-group">
                                    <span class="input-group-addon">Mật khẩu cũ: </span>
                                    <input class="form-control text-box single-line" id="old_pass" name="old_pass" type="password" value="" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Mật khẩu mới: </span>
                                    <input class="form-control text-box single-line" id="new_pass" name="new_pass" type="password" value="" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Xác nhận: </span>
                                    <input class="form-control text-box single-line" id="repeat_pass" name="repeat_pass" type="password" value="" />
                                </div>
                                <input type="submit" class="btn btn-register" value="Đổi mật khẩu" />

                                <h2 style="color: red; text-align: left;">
                                    <%= (typeof(message) != "undefined" ? message : "") %>
                                </h2>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>