.row-app {
    width: 100%;
}
.row-app:before,
.row-app:after {
    display: table;
    content: " ";
}
.row-app:after {
    clear: both;
}
.row-app:before,
.row-app:after {
    display: table;
    content: " ";
}
.row-app:after {
    clear: both;
}
.col-xs-app-7 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
}
.col-xs-app-5 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
}
.col-xs-app-5 {
    width: 33%;
}
.col-xs-app-7 {
    width: 64%;
    margin-right:3%;
}
.col-xs-app-7:first-child {
    padding-right: 0px;
}
.txt-title {
    float:left;
    width:100%;
    color: #3a3939;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    min-height: 16px;
    margin: 5px 0px 5px 0px;
}
.text-description {
    float:left;
    width:100%;
    color: #1b1b1b;
    min-height: 18px;
    text-align: left;
    font-size: 13px;
    padding-bottom: 5px;
    margin-top: -5px;
}
.text-right {
    float:left;
    width:85%;
    color: #1b1b1b;
    min-height: 18px;
    text-align: left;
    font-size: 13px;
    padding-bottom: 5px;
    margin-top: -3px;
}
.img-app {
    width: 12px;
    height: 12px;
    display: block;
    margin-right: 3px;
    margin-top: 0px;
}
.col-xs-app-5 ul {
    padding: 0px;
    margin-top:0px;
}

.col-xs-app-5 ul li .img-app {
    float: left;
}
.col-xs-app-5 ul li {
    list-style: none;
    font-size: 13px;
    color: #1b1b1b;
    min-height: 22px;
    float: left;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .txt-title {
        font-size: 12px;
    }
    .text-right,.text-description {
        font-size: 15px;
    }
    .col-xs-app-5 ul li {
        font-size: 15px;
    }
    .img-app {
        width: 15px;
        height: 15px;
        margin-top: -1px;
    }
    .col-xs-app-5 ul {
        float:left;
        padding-top:5px;
    }
    .col-xs-app-5 {
        width: 25%;
    }
    .col-xs-app-7 {
        width: 71%;
        margin-right:4%;
    }
    .col-xs-app-5 ul li {
        min-height: 30px;
    }
}