<style type="text/css">
    @import url("/resources/css/userProfile.css");
</style>
<div class="wapper-content" style="margin-top: 5rem;">
    <div class="container">
        <div class="wapper wap-account">
            <div class="wapcontent">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/"> <span itemprop="name">Trang
                                        chủ</span></a> <span>></span>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="name"> Quản lý mật khẩu</span>
                                <meta itemprop="position" content="2" />
                            </li>
                        </ul>
                    </div>
                </div>
                <form action="/admin/profile" class="form-group" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 category-profile">
                                            <img src="https://pasgo.vn/Assets/Images/no_avatar.png" id="img-avatar-profile" class="img-circle img-responsive" alt="Pham Huu" />
                                            <span class="file-input  btn-file">
                                                <label>
                                                    <input type="file" name="file" id="file"
                                                        onchange="imgchange(event)" /> chọn ảnh
                                                </label>
                                            </span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text-manage"><span>DT : </span>
                                                <%= user.phone_number %>
                                            </div>
                                            <button onclick="cancelImage();" type="button" id="btn-delete">Xóa</button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/users/password"><span class="glyphicon glyphicon-lock"></span> Quản lý mật
                                        khẩu </a>
                                </li>
                                <li>
                                    <a href="/admin/services/list"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                      </svg> Danh sách dịch vụ </a>
                                </li>
                                <li>
                                    <a href="/admin/services/awaiting"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <rect width="16" height="16" fill="url(#pattern0)"/>
                                        <defs>
                                        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                        <use xlink:href="#image0" transform="scale(0.0333333)"/>
                                        </pattern>
                                        <image id="image0" width="30" height="30" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABH0lEQVRIie2VMW7CMBSGPyEkOAIHIFdAPQKoQjC0a9ngBnA2ZjqAOraliCFDYGBg64xgwKYm9XNslFKB8klWYr8///8SJwoUFNh5BNbACmhdM3gF7NVILjEo5drOFWhxvOsEaP5zL3fMAIj5eblioP/Xoc9GYHo8XWpaBT5SZu9qHaAMLB3BS6Xx8TrjQTBsqHrPEarHi6fX2XdcF55EpI5DoW4y8vQKCv72CNYayeu07hOs19sc90liAXTVeSRorBlT7PsyMzQdQbNXNc1M0ExtwVuHaV5jq8PMR72wdZMzX1JBdyYxsWj0fOK47pdv6G9x7qh9hhiFBrvMbyM4TdYe1ywaPa+F+JZTgteM4A0wBirG2huwUzWJLN+CO+QAMA2MyXFbAlgAAAAASUVORK5CYII="/>
                                        </defs>
                                        </svg>
                                        
                                         Đang chờ duyệt </a>
                                </li>
                                <li>
                                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Thoát </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h1>Quản lý mật khẩu</h1>
                            <input data-val="true" id="Id" name="user_id" type="hidden" value="<%= user._id %> " />

                            <div class="input-group">
                                <span class="input-group-addon">Tên: </span>
                                <input class="form-control text-box single-line" id="Name" name="full_name" placeholder="Họ và tên..." type="text" value="<%= user.full_name %>" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Email: </span>
                                <input class="form-control text-box single-line" data-val="true" data-val-email="Email của bạn không đúng định dạng" id="Email" name="email" placeholder="Email..." type="email" value="<%= user.email %>" disabled />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                            <input type="submit" class="btn btn-register" value="Đổi mật khẩu" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>