<style type="text/css">
    @import url("/resources/css/userProfile.css");
</style>
<div class="wapper-content" style="margin-top: 5rem;">
    <div class="container">
        <div class="wapper wap-account">
            <div class="wapcontent">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/"> <span itemprop="name">Trang
                                        chủ</span></a> <span>></span>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="name"> Thông tin tài khoản</span>
                                <meta itemprop="position" content="2" />
                            </li>
                        </ul>
                    </div>
                </div>
                <form action="/users/profile" class="form-group" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-md-4 category-profile">
                                            <img src="https://pasgo.vn/Assets/Images/no_avatar.png" id="img-avatar-profile" class="img-circle img-responsive" alt="Pham Huu" />
                                            <span class="file-input  btn-file">
                                                <label>
                                                    <input type="file" name="file" id="file"
                                                        onchange="imgchange(event)" /> chọn ảnh
                                                </label>
                                            </span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text-manage"><span>DT : </span>
                                                <%= user.phone_number %>
                                            </div>
                                            <button onclick="cancelImage();" type="button" id="btn-delete">Xóa</button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/users/profile"><span class="glyphicon glyphicon-user"></span> Thông tin
                                        tài khoản</a>
                                </li>
                                <li>
                                    <a href="/users/password"><span class="glyphicon glyphicon-lock"></span> Quản lý mật
                                        khẩu </a>
                                </li>
                                <li>
                                    <a href="/bookings/history"><span class="glyphicon glyphicon-calendar"></span> Lịch
                                        sử đặt chỗ </a>
                                </li>
                                <li>
                                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Thoát </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <h1>LỊCH SỬ ĐẶT CHỖ</h1>
                            <div class="card d-flex flex-row">
                                <img src="https://pasgo.vn/Assets/Images/no_avatar.png" height="128px" width="128px">
                                <div class="card" style="width:100%">
                                    <h5 class="card-header d-flex justify-content-center">TÊN </h5>
                                    <div class="card-body">
                                        <h5 class="card-title">Ngày giờ </h5>
                                        <p class="card-text">Địa chỉ: ....................</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center  justify-content-lg-end">
                                    <button type="button" class=" btn btn-register " style="margin-bottom:0!important; margin-right:10px!important;">Đánh giá</button>
                                    <button type="button" class="btn btn-register " style="margin-bottom:0!important;margin-right:10px!important;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg></button>
                                </div>
                            </div>
                        </div>
                </form>

                </div>
            </div>
        </div>
    </div>