.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0.5;
    filter: alpha(opacity=0.5)
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px;
    font-size: 1.3rem;    
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media(min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
}

@media(min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}

.modal {
    text-align: center;
    padding: 0 !important
}

.modal .modal-content {
    border-radius: 0;
    border: none
}

.modal .modal-content .modal-header {
    padding: 8px 15px;
    background: #d02028;
    text-align: center
}

.modal .modal-content .modal-header .close {
    float: right;
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 4px;
    color: #fff
}

.modal .modal-content .modal-header .modal-title {
    font-family: Roboto-medium;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    position: relative;
    top: 4px
}

.modal .modal-content .modal-footer {
    padding: 5px 15px;
    background: #fff6f6
}

.modal .modal-content .modal-footer .btn-default {
    width: 100%;
    color: #d02028;
    background-color: transparent
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle
}

#ConfirmModal .modal-dialog {
    max-width: 360px
}

#ConfirmModal .modal-dialog .modal-content #btn-cancel-desktop {
    width: 158px;
    float: right;
    border: 1px solid #d02028;
    color: #fff;
    background: #d02028;
    margin-top: 15px;
    border-radius: 3px
}

#ConfirmModal .modal-dialog .modal-content #btn-ok-desktop {
    width: 158px;
    float: right;
    border: 1px solid #03a50b;
    color: #fff;
    background: #03a50b;
    margin-top: 15px;
    border-radius: 3px
}

#ConfirmModal .modal-dialog .modal-content .input-group {
    padding: 5px 0
}

#ConfirmModal .modal-dialog .modal-content .input-group .form-control {
    background: #e6e6e6
}

#ConfirmModal .modal-dialog .modal-content .input-group-addon {
    border: 1px solid #ccc;
    padding: 0 10px;
    border-left: none
}

#ConfirmModal .modal-dialog .modal-content h5 {
    margin-bottom: 0
}