<footer id="footer" class="lazyload lazypreload" data-provinceId="2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-info">
                <a href="#"> <img src="/img/booking_now_200x200.png" style="width: 100px;" alt=""> </a>
                <div>
                    Booking Now là Mạng lưới nhà hàng NGON, uy tín và chất lượng. Giúp thực khách đặt bàn dễ dàng, được tặng kèm ưu đãi mà không cần mua Deal, Voucher. Giải pháp đột phá mới cho câu chuyện ăn gì, ở đâu!
                </div>
            </div>
            <div class="col-md-3" id="ve-pasgo">
                <h3>Về Booking Now</h3>
                <ul>
                    <li> <a href="#">Những điều thú vị về thành viên Booking Now mà bạn chưa biết!</a>
                    </li>
                    <li> <a href="#">Vì sao Booking Now đang đau khổ?</a> </li>
                    <li> <a href="#">Mười ngàn lí do vì sao Booking Now có 50% thị phần ở Mỹ</a> </li>
                    <li> <a href="#">Chính sách bảo mật</a> </li>
                </ul>
            </div>
            <div class="col-md-3">

                <h3>Tương tác</h3>
                <ul>
                    <li>
                        <a href="#">Khiếu nại</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Dành cho nhà hàng</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Tin tức</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 dk-mail">
                <h3>Đăng ký nhận bản tin khuyến mãi</h3>
                <div>
                    Đăng ký nhận thông tin ưu đãi hấp dẫn và khám phá, cập nhật các xu hướng ẩm thực mới lạ, thú vị.
                </div>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Email của bạn">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-send-mail">Gửi</button>
                    </span>
                </div>

            </div>
        </div>
    </div>
</footer>