<h1><%= message %></h1>
<h2 class="mt-4" style="font-size: xx-large;"><%= error.status %></h2>
<h4 class="mt-4" style="font-size: large; font-weight: normal; line-height: 3rem;"><%= error.stack %></h4>